Source: opx-sai-vm
Section: net
Priority: optional
Maintainer: Dell EMC <ops-dev@lists.openswitch.net>
Build-Depends:dh-autoreconf, debhelper (>= 9), dh-systemd, autotools-dev, libopx-logging-dev (>= 2.1.0), libopx-common-dev (>= 1.4.0),
            opx-sai-api-dev (>= 35.0.0), libopx-db-sql-dev (>= 1.1.1)
Standards-Version: 1.0.1

Package: libopx-sai-vm1
Provides: libsai-0.9.6, libopx-sai
Replaces: libsai-0.9.6
Conflicts: libsai-0.9.6
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: OPX SAI VM - shared library

